.advantages {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 90px;
    padding-left: 225px;
  }
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    grid-template-areas: "eco with-love"
    "price protect"
    "like present";
  }
}

.advantages__item {
  padding-top: 82px;
  font-size: 17px;
  line-height: 20px;
  color: $base-black;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item--ecology {
  background-image: url("../img/svg/ecology.svg");
  background-repeat: no-repeat;
  background-position: 8px 28px;

  @media (min-width: $tablet-width) {
    grid-area: eco;
  }
}

.advantages__item--low-price {
  background-image: url("../img/svg/style-price.svg");
  background-repeat: no-repeat;
  background-position: 0 30px;

  @media (min-width: $tablet-width) {
    grid-area: price;
  }
}

.advantages__item--likes {
  background-image: url("../img/svg/likes.svg");
  background-repeat: no-repeat;
  background-position: 5px 37px;

  @media (min-width: $tablet-width) {
    grid-area: like;
  }
}

.advantages__item--hand-made {
  background-image: url("../img/svg/with-love.svg");
  background-repeat: no-repeat;
  background-position: 3px 32px;

  @media (min-width: $tablet-width) {
    grid-area: with-love;
  }
}

.advantages__item--local-product {
  background-image: url("../img/svg/protect-creator.svg");
  background-repeat: no-repeat;
  background-position: -6px 33px;

  @media (min-width: $tablet-width) {
    grid-area: protect;
  }
}

.advantages__item--present-box {
  background-image: url("../img/svg/present-box.svg");
  background-repeat: no-repeat;
  background-position: 3px 32px;

  @media (min-width: $tablet-width) {
    grid-area: present;
  }
}