.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;

  gap: 19px;

  &:hover {
    cursor: pointer;

    & .checkbox__mark {
      outline-color: $azure;
    }
  }

  &:active {
    & .checkbox__mark {
      outline-color: rgba($base-black, 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    gap: 30px;
  }
}

.checkbox__mark {
  position: relative;

  display: block;
  width: 38px;
  height: 38px;

  flex-shrink: 0;

  outline: 2px solid $light-black;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.checkbox__input:checked + .checkbox__mark::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 8px;

  width: 23px;
  height: 16px;

  background-image: url("../img/svg/checkbox-active.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 10px;

    width: 31px;
    height: 22px;

    background-image: url("../img/svg/checkbox-active-tablet.svg");
  }
}
