.contacts {
  padding: 38px 0 30px 0;

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 68px 0 57px 0;

    &::after {
      content: "";
      position: absolute;
      top: 46px;
      right: 53px;

      width: 47px;
      height: 81px;

      background-image: url("../img/svg/contacts-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 71px 50px 105px 225px;

    column-gap: 56px;

    grid-template-areas:
      "content map"
      "link map";
    grid-template-columns: 1fr 1.8fr;

    &::after {
      top: 133px;
      left: 113px;
    }
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-right: 80px;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 79px 0 34px 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 30px;
  color: $light-black;

  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;

    font-size: 17px;

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts__wrapper {
  display: grid;

  grid-template-columns: 1fr 2.4fr;
}

.contacts__container {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    grid-area: link;
  }
}

.contacts__container--info {
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;

    grid-area: content;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 454px;
  margin-bottom: 42px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    grid-area: map;
  }
}

.contacts__iframe {
  width: 100%;
  height: 454px;

  @media (min-width: $tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }
}

.contacts__picture {
  position: absolute;
  top: 0;
  z-index: -2;

  width: 100%;

  object-fit: contain;
}

.contacts__pin {
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-30%);
  z-index: -1;
}

.contacts__link {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: $light-black;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $light-black;

  @media (min-width: $tablet-width) {
    width: 230px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 0;
  }

  &:hover {
    color: $white;

    background-color: $light-black;
  }

  &:active {
    color: rgba($white, 0.3);

    background-color: $light-black;
  }
}

.contacts__email {
  color: $light-black;
  text-decoration: none;

  border-bottom: 1px solid $azure;

  &:hover {
    color: $azure;
  }

  &:active {
    color: $azure;

    border-color: rgba($azure, 0.1);
  }
}
