@use '../global/bootstrap.scss';

.contacts {
    padding-bottom: 35px;
}

.contacts__title {
    @include bootstrap.title-base;
    margin: 0;
    margin-bottom: 28px;
}

.contacts__list {
    @include bootstrap.list-reset;
    @include bootstrap.font-set(15px,20px);
}

.contacts__container {
    padding: 0 30px;
}

.contacts__container--info {
    margin-bottom: 62px;
}

.contacts__value {
    margin: 0;
}

.contacts__link {
    @include bootstrap.font-set(18px,20px,700);
    @include bootstrap.main-link;
    padding: 16px;
}