.footer {
  padding: 30px 0;
  background-color: $title-background-color;

  @media (min-width: $tablet-width) {
    padding: 51px 0 58px 0;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__mishka-link {
  width: 102px;
  height: 34px;
  display: none;

  &:hover svg {
    fill: $toys-link-down;
  }

  &:active svg {
    fill: $toys-link-down;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer__contacts-list {
  margin: 0;
  padding: 0 0 28px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 29px;
  border-bottom: 1px solid $dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
}

.footer__contacts-link {
  display: block;
  width: 28px;
  height: 22px;
  
  &:hover svg {
    fill: $toys-link-down;
  }

  &:active svg {
    fill: $toys-link-down;
    opacity: 0.3;
  }
}

.footer__creator-link {
  display: flex;
  align-items: center;
  width: 182px;
  height: 35px;
  margin: 22px auto 0 auto;

  & svg {
    fill: $azure;
  }

  &:hover svg {
    fill: $toys-link-down;
  }

  &:active svg {
    fill: $toys-link-down;
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__creator-svg {
  margin-left: 25px;
}

.footer__creator {
  font-size: 19px;
  line-height: 18px;
  color: $base-black;
  font-weight: 700;
}