.header {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $light-grey;

    &--inner {
      background-color: $title-background-color;
    }
  }
}

.header__wrapper {
  @media (max-width: ($tablet-width - 1px)) {
    padding: 0;
  }
}
