.input {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    gap: 30px;
  }
}

.input__field::placeholder {
  opacity: 0.3;
}

.input__field {
  display: block;
  width: 100%;
  min-width: 260px;
  padding: 16px 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $base-black;

  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 $base-black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding: 16px;
  }

  & + svg {
    opacity: 0.2;
  }

  &:hover {
    box-shadow: inset 0 -2px 0 $azure;
    cursor: pointer;

    & + svg {
      opacity: 1;

      fill: $azure;
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 -2px 0 $dark-azure;
    cursor: pointer;

    & + svg {
      opacity: 1;

      fill: $dark-azure;
    }
  }
}

.input__field[type="email"],
.input__field[type="tel"] {
  padding-right: 50px;
}

.input--phone {
  position: relative;
}

.input__svg-phone {
  position: absolute;
  top: 11px;
  right: 7px;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    right: 25px;
  }

  @media (min-width: $desktop-width) {
    right: 7px;
  }
}

.input--email {
  position: relative;
}

.input__svg-email {
  position: absolute;
  top: 11px;
  right: 7px;
  z-index: 2;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 7px;
  }
}

.input__field--add {
  min-height: 142px;
  padding: 17px;

  border: 2px solid $light-black;
  box-shadow: none;

  resize: none;

  &:hover {
    border: 2px solid $azure;
    border-bottom: none;
    cursor: pointer;
  }

  &:focus-visible {
    border: 2px solid $dark-azure;
    border-bottom: none;
  }
}
