.intro--main {
  background-image: url("../img/content/intro.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

.intro__title {
  padding: 73px 30px 120px 30px;
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.intro__title--inner {
  background-color: $title-background-color;
  padding: 74px 42px;
}

.intro__title--catalog {
  margin-bottom: 17px;
}

.intro__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: $white;
  padding: 24px 0 31px 30px;
}

.intro__link--interiors {
  background-color: $azure;
}

.intro__interiors-svg {
  position: absolute;
  top: 23px;
  right: 36px;
}

.intro__link--toys {
  background-color: $dark-azure;
}

.intro__toys-svg {
  position: absolute;
  top: 21px;
  right: 27px;
}

.intro__description {
  margin: 0;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: $light-black;
}

@media (min-width: $tablet-width) {
  .intro__link-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
  }

  .intro--main::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/svg/zigzag-fill.svg");
  }

  .intro--main {
    background-image: url("../img/content/intro-tablet.jpg");
  }
}
