.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba($white, 0.9);

  &--opened {
    display: flex;
  }
}

.modal-window__container {
  position: relative;

  padding: 30px 30px 45px 30px;

  background-color: $white;
  border: 1px solid $dark-grey;
  box-shadow: 0 5px 10px rgba($base-black, 0.25);

  @media (min-width: $tablet-width) {
    padding: 37px 108px 45px 108px;
  }
}

.modal-widow__close-button {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 20px;
  height: 14px;

  background-color: transparent;
  background-image: url("../img/svg/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.modal-window__title {
  margin: 0 0 14px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 11px 0;

    font-size: 30px;
    line-height: 57px;
  }
}

.modal-form__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 31px 0;
  padding: 0;

  border: none;

  gap: 7px;
}

.modal-form__description {
  display: block;
  margin: 0 0 20px 0;

  line-height: 30px;
  text-align: center;
}

.modal-form__size {
  display: block;
  min-width: 82px;
  padding: 18px 22px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid rgba($light-black, 0.1);

  &:hover {
    border: 2px solid rgba($light-black, 0.3);
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    min-width: 112px;
  }
}

.modal-form__radio:checked + .modal-form__size {
  border: 2px solid $azure;
}

.modal-form__button {
  display: block;
  min-width: 260px;
  margin: 0 auto;
  padding: 16px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: $azure;
  border: none;

  &:hover {
    background-color: lighten($azure, 5%);
    cursor: pointer;
  }

  &:active {
    color: rgba($white, 0.5);

    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    min-width: 350px;
  }
}
