.offer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 42px;

  &::after {
    content: "";
    background-image: url("../img/svg/zigzag-line-mobile.jpg");
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 334px;
    grid-template-areas: "title title"
      "content image"
      "button image";
    padding-top: 42px;
    padding-bottom: 70px;
    column-gap: 42px;

    &::after {
      background-image: url("../img/svg/zigzag-line-tablet.svg");
      height: 17px;
    }
  }
  
  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-bottom: 96px;
    padding-left: 225px;
    grid-template-columns: auto 525px;
    column-gap: 56px;

    &::after {
      background-image: url("../img/svg/zigzag-line-desktop.svg");
      height: 22px;
    }
  }
}

.offer__title-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-area: title;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    flex-direction: row-reverse;
    top: 61px;
    left: -145px;
    gap: 43px;
  }
}

.offer__product-title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.offer__product-label {
  margin: 0 0 17px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $azure;
  order: 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100px;
    text-align: center;
  }
}

.offer__description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  padding: 13px 0;
  border-bottom: 1px solid $grey-border-color;
}

.offer__description {
  margin: 0 0 28px 0;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }
}

.offer__description-list {
  margin: 0 0 28px 0;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.offer__value {
  margin: 0;
}

.offer__picture {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-area: image;
  }
}

.offer__price {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.offer__link {
  font-size: 18px;
  line-height: 18px;
  color: $light-black;
  font-weight: 700;
  padding: 16px;
  border: 2px solid $light-black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  max-width: 292px;
  margin: 0 auto;

  &:hover {
    color: $white;
    background-color: $light-black;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $light-black;
  }
}

.offer__content-wrapper {
  @media (min-width: $tablet-width) {
    grid-area: content;
  }

  @media (min-width: $desktop-width) {
    padding-top: 153px;
  }
}

.offer__button-wrapper {
  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}
