.radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;

  gap: 19px;

  &:hover {
    cursor: pointer;

    & .radio__mark {
      border-color: $azure;
    }
  }

  &:active {
    & .radio__mark {
      border-color: rgba($base-black, 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    gap: 26px;
  }
}

.radio__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  border: 2px solid $light-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.radio__input:checked + .radio__mark::after {
  content: "";

  width: 18px;
  height: 18px;

  background-color: $azure;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}
