.video__container {
  margin-bottom: 58px;
  border: 1px solid $grey-border-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-areas: "player title"
                         "player content";
  }
}

.video__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 21px 13px 26px 93px;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
  }
}

.video__wrapper {
  padding: 34px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-area: content;
  }
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 41px 0;
  padding: 0;
}

.video__link {
  font-size: 18px;
  line-height: 16px;
  color: $light-black;
  font-weight: 700;
  border: 2px solid $light-black;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 16px 0;
}

.video__player {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-area: player;
  }
}