@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin title-base {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

@mixin font-set($size,$line-height,$weight:400,$color:#444444) {
    font-size: $size;
    line-height: $line-height;
    color: $color;
    font-weight: $weight;
}

@mixin main-link {
    border: 2px solid #444444;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
