$base-black: #000000;
$light-black: #444444;
$azure: #63d1bb;
$dark-azure: #56c3b2;
$interiors-link-down: #59d5bc;
$toys-link-down: #46c1ae;
$white: #ffffff;
$title-background-color: #f1f1f1;
$grey-border-color: #ececec;
$dark-grey: #e5e5e5;
$light-grey: #f9f9f9;
$tablet-width: 768px;
$desktop-width: 1150px;
