$base-black: #000000;
$base-black-opacity: rgba(0, 0, 0, 0.1);  
$light-black: #444444; 
$azure: #63d1bb;
$azure-light: rgba(99, 209, 187, 0.1);
$dark-azure: #56c3b2;
$interiors-link-down: #59d5bc;
$toys-link-down: #46c1ae;
$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.3);
$title-background-color: #f1f1f1;
$grey-border-color: #ececec;
$dark-grey: #e5e5e5;

$tablet-width: 768px;
$desktop-width: 1150px;